@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Purchase</title>
    <style>

        p {
            font-size: larger;
            font-weight: 600;
            font-family: 'Times New Roman';
        }

    </style>
</head>

<body>
    <div>


    </div>
    <div>
        <form method="post" >
            <p>Purchasing form :</p>
            <input type="hidden" value="@ViewBag.MotoId" name="MotoId" />
            <table>
                <tr>
                    <td><p>Input your name :</p></td>
                    <td><input type="text" name="Person" /> </td>
                </tr>
                <tr>
                    <td><p>Input your address :</p></td>
                    <td>
                        <input type="text" name="Address" />
                    </td>
                </tr>
                <tr><td><button type="submit">Submit</button> </td><td></td></tr>
            </table>

        </form>
    </div>





</body>



</html>